.ItemWrap{
}

.InnerWrap{
    border: 1px solid #ccc;
    overflow: hidden;
    min-height: 525px;
    background-color: white !important; 
    /*box-shadow: 0 17px 50px 0 rgba(0,0,0,0.19), 0 12px 15px 0 rgba(0,0,0,0.24); */
    box-shadow: 0 2px 10px #ccc;
}

.ItemHeading{
    text-align: center;
    color: #254b6e;
    padding: 10px;
    cursor: pointer;
    font-size: 20px;
    letter-spacing: 1px;
}

.ItemHeading:hover{
    background: #fcfcfc;
}

.ItemContent{
    padding: 10px;
    height: 450px;
    overflow-y: auto;
}