#standUpHeader{
    background: #254b6e;
    padding: 5px;
}

#heading{
    color: lightgreen;
    padding: 15px;
    font-size: xx-large;
    text-align: left;
    font-family: cursive;
}

#nextFacilitator{
    margin-top: 10px;
    margin-right: 20px;
    float: right;
    padding: 10px;
    background: white;
    border-radius: 5px;
    cursor: pointer;
    letter-spacing: 1px;
    font-size: 16px;
}

#error{
    color: red;
    text-align: center;
    letter-spacing: 1px;
    float: right;
    margin-top: 15px;
    font-size: large;
    background: #254b6e;
}

#facilitatorGenerated{
    color: white;
    text-align: center;
    letter-spacing: 1px;
    float: right;
    margin-top: 15px;
    margin-right: 20px;
    background: #254b6e;
}

#stFacilitator{
    text-align: center;
    background: #254b6e;
    font-size: large;
    color: white;
    padding-bottom: 10px;
    letter-spacing: 2px;
}

#standUpcontentWrapper{
    display: flex;
    width: 92%;
    min-height: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    text-align: center;
    box-shadow: 0 0 1.2px #686868;
    background: white;
}

#leftContainer,#middleontainer{
    width: 33.33%;
    border-right: 1px solid #254b6e;
}

#rightContainer{
    width: 33.33%;
}


#todayDateSUp{
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 1px;
    word-spacing: 5px;
    margin-bottom: 27px;
    margin: 0 auto;
    padding: 20px 30px 20px 0px;
    background: white;
    box-shadow: 0 0 1.2px #686868;
}

#itemsHeading{
    padding: 10px;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 1px;
    word-spacing: 8px;
    text-align: center;
    border-bottom: 1px solid #254b6e;
    color: #254b6e;
}


#helpSection{
    padding: 10px;
    background: white;
    margin: 30px;
    box-shadow: 0 1px 3px #888;
    display: flex;
    align-items: center;
    min-height: 50px;
    color: #254b6e;
}

#askingHelp{
    width: 25%;
}

#listMembers{
    border: 0;
    border-bottom: 1px solid #6d6d6d;
    font-size: 12px;
    width: 85%;
    height: 25px;
    padding: 0px;
    color: #254b6e;

}   

#helpTextArea{
    width: 70%;
    height: 25px;
    padding: 0px;
    margin-left: 10px;
    border: 0;
    font-size: 14px;
    color: #6d6d6d;
    border-bottom: 1px dotted #6d6d6d;
}

#addHelp{
    width: 24px;
    height: 24px;
    font-size: 20px;
    margin-left: 4px;
    color: white;
    background: #254b6e;
    border: 1px solid #254b6e;
    border-radius: 4px;
    cursor: pointer;
}

input{
    outline: none;
}

#askingHelpReadOnly{
    padding-right: 10px;
    text-align: left;
    color: #254b6e;
}

#askingHelpReadOnlyFont{
    padding-right: 10px;
    text-align: left;
    color: #254b6e;
    width: 65px;   
}

#helpItemReadOnly{
    text-align: left;
    color: #686868;
    padding: 0px 10px;
}

#helpedByList{
    width: 100px;
    border: 0;
    font-size: 12px;
    border-bottom: 1px solid #686868;
    height: 25px;
}

#helpedByListNoBorder{
    width: 80px;
    border: 0;
    font-size: 12px;
    height: 25px;
}

#addHelper{
    width: 15px;
    height: 15px;
    font-size: 12px;
    background: white;
    color: #254b6e;
    margin: 0;
    margin-left: 5px;
    border: 1px solid #254b6e;
    border-radius: 4px;
    cursor: pointer;
}

#closeHelpDiv{
    float: right;
    padding: 0px;
    margin: 0px;
}

#closeHelp{
    font-size: 18px;
    text-align: center;
    transform: rotate(45deg);
    color: brown;
    cursor: pointer;
}

#closeHelpSection{
    background: white;
    margin: 30px;
    box-shadow: 0 1px 3px #888;
    color: #254b6e;
}

#closeEventSection{
    background: white;
    margin: 30px;
    box-shadow: 0 1px 3px #888;
    color: #254b6e;
}

#closeHelpContent{
    display: flex;
    align-items: center;
    min-height: 40px;
    padding: 10px;
    padding-bottom: 0;
}

#closeInterestingContent{
    display: flex;
    align-items: center;
    min-height: 50px;
    padding: 10px;
}

#closeEventContent{
    display: flex;
    align-items: center;
    min-height: 40px;
    padding: 10px;
    padding-bottom: 0;
}

#closeEventEmptyDate{
    display: flex;
    align-items: center;
    min-height: 30px;
    padding: 10px;
    padding-bottom: 0; 
}

#helpedByPerson{
    border: 0;
    font-size: 13px;
    color: #254b6e;
    text-align: right;
    padding: 0px 15px 5px 0px;
}

#datepicker{
    width: 100px;
    border: 0;
    border-bottom: 1px solid #686868;
    height: 23px;
    margin-left: 10px;
    font-size: 12px;
    float: right;
}

#eventDate{
    text-align: right;
    padding: 0px 15px 5px 0px;
    font-size: 13px;
}

#searchDiv{
    position: relative;
}

#searchSpan{
    position: absolute;
    right: 3px;
    top: 5px;
}

#searchLogo{
    width: 18px;
    height: 18px;
}

#eventSection{
    padding: 15px 10px 10px 10px;
    background: white;
    margin: 30px;
    box-shadow: 0 1px 3px #888;
    min-height: 55px;
    color: #254b6e;
}

#eventContent{
    display: flex;
    align-items: center;
    min-height: 35px;
}

#addHelperSection{
    padding: 15px 10px 10px 10px;
    background: white;
    margin: 30px;
    box-shadow: 0 1px 3px #888;
    min-height: 45px;
    color: #254b6e;
}

#helpContent{
    display: flex;
    align-items: center;
}

#addHelperWrap{
    float: right;
}

#clap{
    padding: 10px 15px;
    border: 1px solid #254b6e;
    color: #254b6e;
    background: white;
    text-transform: capitalize;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 1px 3px #888;
}

#clapWrap{
    text-align: center;
    margin: 50px;
}

.PickDateWrap{
    min-height: 70px;
}

.CloseEventContent{
    min-height: 30px;
}

#searchDivExtra{
    padding-right: 10px;
    float: right;  
}

#searchSpanExtra{
    position: absolute;
    right: 25px;
    top: 5px;
}

#datepickerExtra{
    width: 100px;
    border: 0;
    border-bottom: 1px solid #686868;
    height: 23px;
    margin-left: 10px;
    font-size: 12px
}