#standUpHeader{
    background: #254b6e;
    padding: 5px;
}

#heading{
    color: lightgreen;
    padding: 15px;
    font-size: xx-large;
    text-align: left;
    font-family: cursive;
}

#nextFacilitator{
    margin-top: 10px;
    margin-right: 20px;
    float: right;
    padding: 10px;
    background: white;
    border-radius: 5px;
    cursor: pointer;
    letter-spacing: 1px;
    font-size: 16px;
}

#error{
    color: red;
    text-align: center;
    letter-spacing: 1px;
    float: right;
    margin-top: 15px;
    font-size: large;
    background: #254b6e;
}

#facilitatorGenerated{
    color: white;
    text-align: center;
    letter-spacing: 1px;
    float: right;
    margin-top: 15px;
    margin-right: 20px;
    background: #254b6e;
}

#stFacilitator{
    text-align: center;
    background: #254b6e;
    font-size: large;
    color: white;
    padding-bottom: 10px;
    letter-spacing: 2px;
}

#standUpcontentWrapper{
    display: flex;
    width: 92%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    text-align: center;
    box-shadow: 0 1px 3px #888;
    background: white;
    font-size: 20px;
}

#leftContainer,#middleontainer{
    width: 33.33%;
    border-right: 1px solid #254b6e;
    background: whitesmoke;
    position: relative;
}

#rightContainer{
    width: 33.33%;
    background: whitesmoke;
}

.ForOverFlow{
    height: 550px;
    overflow-y: auto;
}


#todayDateSUp{
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 1px;
    word-spacing: 5px;
    margin-bottom: 27px;
    margin: 0 auto;
    padding: 20px 30px 20px 0px;
    background: white;
    box-shadow: 0 0 1.2px #686868;
}

#itemsHeading{
    padding: 10px;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 1px;
    word-spacing: 8px;
    text-align: center;
    border-bottom: 1px solid #254b6e;
    color: #254b6e;
    cursor: pointer;
}

#listMembers{
    border: 0;
    border-bottom: 1px solid #6d6d6d;
    font-size: 14px;
    width: 85%;
    height: 25px;
    padding: 0px;
    color: #254b6e;

}   

.AddItem{
    padding: 2px;
    font-size: 20px;
    margin-left: 4px;
    color: white;
    background: #254b6e;
    border: 1px solid #254b6e;
    border-radius: 4px;
    cursor: pointer;
    }


.AddItemModal{
    font-size: 30px;
}

input{
    outline: none;
}

#askingHelpReadOnly{
    padding-right: 10px;
    text-align: left;
    color: #254b6e;
    text-transform: capitalize;
}

.HelpText{
    text-align: left;
    color: #686868;
    padding: 0px 10px;
    word-break: break-word;
    word-wrap : break-word; 
}

.HelpText a{
    color: #007AB8;
    font-size: 15px;
}

.MemberList{
    width: 25%;
    border: 0;
    font-size: 16px;
    border-bottom: 1px solid #686868;
}

.AddLittleIcon{
    border: 1px solid #254b6e;
    border-radius: 4px;
    padding: 1.5px;
    cursor: pointer;
}

#closeHelpSectionModal{
    background: white;
    margin: 0px 30px 30px 30px;
    box-shadow: 0 1px 3px #888;
    color: #254b6e;
    overflow-y: auto;
    overflow-x: hidden; 
}

#closeEventSection{
    background: white;
    margin: 30px;
    box-shadow: 0 1px 3px #888;
    color: #254b6e;
    overflow-y: auto;
    overflow-x: hidden;
}

#closeInterestingContent{
    display: flex;
    align-items: center;
    min-height: 50px;
    padding: 10px;
}

#closeEventContent{
    display: flex;
    align-items: center;
    min-height: 40px;
    padding: 10px;
    padding-bottom: 0;
}

#closeEventEmptyDate{
    display: flex;
    align-items: center;
    min-height: 30px;
    padding: 10px;
    padding-bottom: 0; 
}

#helpedByPerson{
    border: 0;
    font-size: 16px;
    color: #254b6e;
    padding: 5px;
    text-align: right;
}

.DatePicker{
    width: 100px;
    border: 0;
    border-bottom: 1px solid #686868;
    height: 23px;
    margin-left: 10px;
    font-size: 14px;
    float: right;
}

#helpItemReadOnly{
    color: #686868;
}

#askingHelpReadOnlyFont{
color: #254b6e;
}

#eventDate{
    text-align: right;
    padding: 0px 15px 5px 0px;
    font-size: 15px;
    color: #254b6e;
}

#eventDateModal{
    text-align: right;
    padding: 0px 15px 5px 0px;
    font-size: 25px;
    color: #254b6e;
}

#searchDiv{
    position: relative;
}

#searchSpan{
    position: absolute;
    right: 3px;
    top: 5px;
}

#searchLogo{
    width: 18px;
    height: 18px;
}

#eventSection{
    padding: 15px 10px 10px 10px;
    background: white;
    margin: 30px;
    box-shadow: 0 1px 3px #888;
    min-height: 55px;
    color: #254b6e;
    overflow-y: auto;
    overflow-x: hidden;
}

#eventContent,#eventContentModal{
    display: flex;
    align-items: center;
    min-height: 35px;
}

.ClapBtn{
    padding: 5px 35px;
    border: 1px solid #254b6e;
    color: white;
    background: #254b6e;
    text-transform: capitalize;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 1px 3px #888;
    font-size: 30px;
    font-family: cursive;
}

#clapWrap{
    text-align: center;
    margin: 50px;
}

.PickDateWrap{
    min-height: 70px;
}

.CloseEventContent{
    min-height: 30px;
}

.SearchDivExtra{
    padding-right: 10px;
    float: right;  
}

#searchSpanExtra{
    position: absolute;
    right: 25px;
    top: 5px;
}

#searchDivExtra input{
    width: 100px;
    border: 0;
    border-bottom: 1px solid #686868;
    height: 23px;
    margin-left: 10px;
    font-size: 14px
}

#searchDivExtraModal input{
    border: 0;
    border-bottom: 1px solid #686868;
    height: 23px;
    margin-left: 10px;
}

#disableClap{
    pointer-events: none;
}

#disabledCursor{
    cursor: not-allowed;
    padding: 5px 35px;
    background: #254b6e;
    border: 1px solid #254b6e;
    color: white;
    background: #254b6e;
    text-transform: capitalize;
    border-radius: 5px;
    box-shadow: 0 1px 3px #888;
    font-size: 30px;
    font-family: cursive;
}

.ModalWrap{
    display: none;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: #ededed; /* Fallback color */
}

.ModalContent{
    color: brown;
    text-align: center;
    font-size: 150px;
    font-weight: bold;  
}

.ModalFacilitator{
    font-size: 50px; 
}

.OnCount{
    text-align: center;
    margin: 20px;
    padding : 10px;
    font-size: 80px;
    color: #254b6e;
}

.ExpiredDate{
    display: none;
    position: absolute;
    z-index: 1; 
    padding-top: 10px;
    left: 0; 
    overflow: auto;
    background-color: white;
    color: red;
}

.ExpiredDateModal{
    display: none;
    z-index: 1;
    overflow: auto;
    background-color: white;
    color: red;
}

.modal-dialog{
    overflow-y: initial !important;
    margin: 5% 7%;
    border: 1px solid;
    box-shadow: 0 1px 3px #888;
    background: rgb(235,235,235);
    opacity: 1;
    -webkit-transition: width 2s; 
    -moz-transition: width 2s; 
    transition: width 2s; 
}
.modal-body{
    height: 600px;
    overflow-y: auto;
}

.StandUpContentModal{
    display: none;
    position: fixed;
    z-index: 1;
    font-size: 35px;
    left: 0;
    top: 0;
    width: 100%;
    background: rgba(0,0,0,0.4);
    height: 1000px;
}

#modalHelpHeading{
    color: white;
    padding: 10px;
    background: #254b6e;
    margin-bottom: 5px;
    text-align: center;
}

#closeHelpSectionModal{
    min-height: 60px;
}

#zoomHelp #helpedByPerson{
    font-size: 25px;
}

#closeModal{
    float: right;
    font-weight: bold;
    color: red;
    font-size: 30px;
    cursor: pointer;
}

.MainAddContent{
    border: 0;
    font-size: 16px;
    padding-left: 10px;
    border-bottom: 1px dotted;
    width: 72%;
}

#helpAddTile{
    padding-bottom: 20px;
    padding-top: 20px;
}

#interestingAddTile{
    padding: 20px 10px;
}

#helpEditTile,#interestingEditTile{
    padding: 10px;
}

.itemDetals{
    border-radius: 5px;
    width: 90%;
    outline: none;
    font-size: 18px;
    color: #686868;
    height: 80px;
}

.itemDetalsModal{
    width: 96%;
    font-size: 30px;
    height: 120px;
}

.MemberListModalFont{
    font-size: 30px;
}

.ModalNameListSize{
    width: 15%;
}

.ModalContentHelp{
    width: 80%
}

.ModalDate{
    font-size: 25px;
    color: #254b6e;
}

.DatePickerModal{
    font-size: 25px;
    width: auto;
    padding: 6px;
}

.NotificationIcon{
    position: absolute;
    left: 0;
    width: 12px;
    height: 12px;
}

.NotificationIconModal{
    position: absolute;
    left: 0;
    width: 20px;
    height: 20px;
}

.HelpTextModal a{
    font-size: 28px;
}

#detailsReadable{
    text-align: left;
    border: 1px solid #686868;
    border-radius: 5px;
    width: 100%;
    outline: none;
    font-size: 18px;
    color: #686868;
    height: 80px;
}

#detailsReadable a{
    color: #007AB8;
    font-size: 15px;
}